.toast__container {
    display: table-cell;
    vertical-align: middle;
}

.toast__cell{
  display:inline-block;
}

.toast__svg{
  fill:#fff;
}

.toast {
  text-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 700px;
    top: 0px;
    position:relative;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
}


.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;

}

.toast__icon{
  position:absolute;
  padding-left: 14px;
  display:inline-block;
}

.toast__type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
}

.toast__content{
  padding-left:70px;
  padding-right:60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 30px;
    width: 14px;
    cursor:pointer;
    height: 14px;
    fill:#878787;
    transform: translateY(-50%);
}

.sub_notification {
  position:relative;
}

.sub_notification_close {
  position: absolute;
  right: 22px;
  top: 20px;
  width: 14px;
  cursor:pointer;
  height: 14px;
  fill:#878787;
  transform: translateY(-50%);
}

.toast--green .toast__icon{
  background-color:#2BDE3F;
}

.toast--green:before{
  background-color:#2BDE3F;
}

.toast--blue:before{
  background-color:#1D72F3;
}

.toast--yellow .toast__icon{
  background-color:#FFC007;
}

.toast--yellow:before{
  background-color:#FFC007;
}

.toast__content details.big_text {
  margin-top: .5em;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
  overflow-x: auto;
  color: #878787;
}

.toast__content .big_text summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

.toast__content .big_text details[open] {
  padding: .5em;
}

.toast__content .big_text details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

.toast__content .other_notifications details {
  margin-left: 1em;
  margin-top: 2px;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
  overflow-x: auto;
  color: #878787;
}

.toast__content .other_notifications summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

.toast__content .other_notifications details[open] {
  padding: .5em;
}

.toast__content .other_notifications details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

.fluentProgressBar-normal {
  background-color: #0078d4;
   height: 4px;
}

.fluentProgressBar-waiting {
 background: rgba(0,120,212,0);
 background: -moz-linear-gradient(left, rgba(0,120,212,0) 0%, rgba(0,120,212,1) 51%, rgba(0,120,212,0) 100%);
 background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,120,212,0)), color-stop(51%, rgba(0,120,212,1)), color-stop(100%, rgba(0,120,212,0)));
 background: -webkit-linear-gradient(left, rgba(0,120,212,0) 0%, rgba(0,120,212,1) 51%, rgba(0,120,212,0) 100%);
 background: -o-linear-gradient(left, rgba(0,120,212,0) 0%, rgba(0,120,212,1) 51%, rgba(0,120,212,0) 100%);
 background: -ms-linear-gradient(left, rgba(0,120,212,0) 0%, rgba(0,120,212,1) 51%, rgba(0,120,212,0) 100%);
 background: linear-gradient(to right, rgba(0,120,212,0) 0%, rgba(0,120,212,1) 51%, rgba(0,120,212,0) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078d4', endColorstr='#0078d4', GradientType=1 );

 height: 4px;

 -webkit-animation: progressBarAnimation 2s linear infinite;
 animation: progressBarAnimation 2s linear infinite;
}

@keyframes progressBarAnimation {
	0% {
		left: -50%;
	}
	100% {
		left: 100%;
	}
}

.w-half {
  width: 50%;
  display: inline-block;
  position: relative;
  top: -10px;
}

.w-full {
  overflow: hidden;
  width: 690px;
  margin-left: 5px;
}